html {
  box-sizing: border-box;
  color: hsl(228, 12%, 48%);
  font-size: 0.875em;
  font-family: "Montserrat";
}
*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
}

body {
  height: 100vh;
  background-color: hsl(30, 38%, 92%);
}

img {
  block-size: auto;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  background-color: white;
  display: flex;
  flex-direction: column;
  margin: 1em;
  border-radius: 0.5em;
}

@media only screen and (min-width: 48em) {
  .card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 40em;
  }
}

.product-image {
  width: 100%;
  height: 100%;
  content: url("./images/image-product-mobile.jpg");
  border-radius: 0.5em 0.5em 0 0;
}

@media only screen and (min-width: 48em) {
  .product-image {
    content: url("./images/image-product-desktop.jpg");
    border-radius: 0.5em 0 0 0.5em;
  }
}

.product-details {
  padding: 2em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.category {
  text-transform: uppercase;
  letter-spacing: 0.5em;
  font-size: 0.75em;
  font-weight: 500;
}

.title {
  color: hsl(212, 21%, 14%);
  font-family: "Fraunces";
  font-weight: 700;
  font-size: 2.25em;
}

.description {
  font-weight: 500;
  line-height: 1.75em;
}

.price-section {
  display: flex;
  align-items: center;
  gap: 1.5em;
}

.price {
  color: hsl(158, 36%, 37%);
  font-family: "Fraunces";
  font-size: 2em;
  font-weight: 700;
}

.full-price {
  text-decoration: line-through;
  font-size: 0.75em;
  font-weight: 500;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  padding: 1em;
  color: white;
  font-weight: 700;
  border-radius: 0.75em;
  background-color: hsl(158, 36%, 37%);
}
